*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

:root{
    --color_1: #CCE0FF;
    --color_2: #1E161F;
    --color_3: #D65862;
    --color_4: #EBFFFF;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button{
    clip-path: polygon(48% 29%, 73% 15%, 93% 30%, 98% 61%, 81% 83%, 50% 100%, 25% 85%, 5% 62%, 7% 31%, 25% 16%);
    background-color: var(--color_1);
    color: var(--color_2);
    border: none;
    padding: 50px;
    border-radius: 50px;
    transition: all 500ms;
}

button:hover{
    font-family: 'Creepster', cursive;
    background-color: var(--color_3);
    color: var(--color_4);

}

.touchme:hover{
    animation: button 500ms infinite;
}


@keyframes button{
    0%{
    }
    25%{
        transform: scale(0.3);
    }
    50%{
        transform: scale(0.6);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
    
    }
}

.meme{
    background-image: url(./papucho.gif);
    width: 100vh;
    background-repeat: no-repeat;
    animation: meme 2s
}

.contenedor{
    display: flex;
    padding: 5px;
    gap: 10px;
    flex-wrap: wrap;
}

@keyframes meme{
    to{

    }
    from{
        transform: rotate(-45deg);
    }
}